@model WebUseASP_test_.Models.User
@{
    ViewData["Title"] = "Thêm người dùng";
    Layout = "_Layout";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/admin.css" />
}

<h2>Thêm người dùng</h2>
<form asp-action="CreateUser" method="post">
    <div class="form-group">
        <label>Tài khoản</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label>Role ID</label>
        <select asp-for="RoleID" class="form-control">
            <option value="1">Admin</option>
            <option value="2">Teacher</option>
            <option value="3">Student</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success mt-2">Lưu</button>
</form>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
}